<h1>Books</h1>
<a href="/books/new">
  <button>Add a new Book</button>
</a>
<br>
<br>

{{#each books}}
  <div>
    <h3>{{title}}</h3>
    <a href="/books/{{_id}}">See details</a>
  </div>
  <hr>
{{/each}}